<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Delta Project Fitness</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon-32x32.png">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <!-- Bulma Library -->
    <link rel="stylesheet" href="/bulma/bulma.min.css">
    <!-- Local Styles -->
    <link rel="stylesheet" href="/public/styles/style.css">
</head>
<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a href="/">
            <img src="/public/images/Delta Project Fitness-logo.png">
            </a>
        
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic" style="height: 60px; width: auto;">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            </a>
        </div>
        
        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>
            
                <a class="navbar-item" href="/contact">
                    Contact
                </a>

                <a class="navbar-item" href="/testimonials">
                    Testimonials
                </a>

                <a class="navbar-item" href="/workout-of-the-day">
                    Workout of the Day
                </a>
            </div>
        
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons are-medium">
                        <a class="navbar-social" href="/">
                            <img src="/public/images/tik-tok.png" alt="Tik-Tok logo from Flatiron - see footer for attribution">
                        </a>
                        <a class="navbar-social" href="https://www.instagram.com/deltaprojectfit/" target="_blank">
                            <img src="/public/images/instagram-logo.png" alt="Instagram logo from Flatiron - see footer for attribution">
                        </a>
                        <a class="button is-outlined" href="/contact">
                            <strong>Start Trial</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>