<!-- Header -->
<%- include('partials/header') %>

<main>
    <section class="section is-large">
        <h1 style="color: #fff">Workout of the Day Page Coming Soon!</h1>
    </section>
</main>

<!-- Footer -->
<%- include('partials/footer') %>